.header {
  border: 1px solid red;
  background-color: red;
  width: 100%;
  position: fixed;
}

.toolbar {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.main {
  height: 100vh;
  display: flex;
  margin: 0 auto;
}

.navbar {
  border: 1px solid blue;
  width: 350px;
  padding: 24px;
}

.feed {
  background-color: yellow;
  width: 100%;
  padding: 24px;
}